<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Image / Audio Translator</title>
  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
    <h1>Image / Audio Translator</h1>
    <div>
        <form>
        <label for="input_file">Input image or audio file:</label>
        <input type="file"
           id="input_file" name="input_file"
           accept="image/png, image/jpeg, audio/wav">
        <br/>
        <label for="width">Output width / sample rate:</label>
        <input type="number" id="width" name="width" min="1" step="1"> 
    </div>
</body>
</html>

